@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
$primary-color : #d52b1e;
$dark :#3F3F3F;
$white: #fff;
$primary-font: 'Poppins', sans-serif;